<div id="<%= dom_id df1_original %>">
  <p>
    <strong>Record type:</strong>
    <%= df1_original.record_type %>
  </p>

  <p>
    <strong>Serial no:</strong>
    <%= df1_original.serial_no %>
  </p>

</div>
