<h1>Editing df1 original</h1>

<%= render "form", df1_original: @df1_original %>

<br>

<div>
  <%= link_to "Show this df1 original", @df1_original %> |
  <%= link_to "Back to df1 originals", df1_originals_path %>
</div>
